.header-popup {
    background: #2A375D;

    &__inner {
        display: flex;
        justify-content: center;
    }
    &__routes {
        padding: 20px 0;
    }
    &__route {
        padding: 8px 0;
        display: flex;
        align-items: center;
    }
    &__name {
        font-size: 16px;
        line-height: 19px;
        color: #fff;
        margin-left: 10px;
    }
    &__image {
        font-size: 24px;
        color: #A0B1C7;
    }
}

.ant-drawer-header {
    background-color: #2A375D;
    border-radius: 0;
}
  
.ant-drawer-title {
    color: #fff;
}
  
.ant-drawer-body {
    background-color: #2A375D;
    color: #fff;
    height: calc(100vh - 55px);
}