.main {
    height: 100%;
    min-height: 100vh;

    &__inner {
        display: flex;
        
    }

    &__content {
        width: 80%;
    }
    &__block {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 20px 0;
    }
}