@import './less/_normalize.less';
@import './less/components/_all.less';


.container {
    width: 100%;
    max-width: 1790px;
    padding: 0 15px;
    margin: 0 auto;
}

.app {
    height: 100%;
    min-height: 100vh;

    &__inner {
        display: flex;
    }

    &__content {
        width: 82%;
        min-height: 88vh;
        @media (max-width: 900px) {
            width: 100%;
        }
    }
    &__sidebar {
        width: 18%;
        @media (max-width: 900px) {
            display: none;
        }
    }
}

